/* login.css */
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    /* background-color: #ffffffdb; */
    background-color: #f9f9f9;

    border-radius: 10px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  /* Heading styles */
  .container h1 {
    text-align: center;
    font-size: 2rem;
    color: #2d3436;
    margin-bottom: 1.5rem;
  }
  
  /* Error message */
  .container p {
    color: #d63031;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  /* Form and inputs */
  .container form {
    display: flex;
    flex-direction: column;
  }
  
  .container label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #2d3436;
  }
  
  .container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #dfe6e9;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  .container input:focus {
    border-color: #74b9ff;
    outline: none;
  }
  
  /* Button styles */
  .container button {
    background-color: #0984e3;
    color: white;
    font-size: 1rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .container button:hover {
    background-color: #74b9ff;
  }
  
  .container button:disabled {
    background-color: #b2bec3;
    cursor: not-allowed;
  }
  